<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Dashboard</title>

    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="stylemenu.css">
    <script src="js.js" defer></script>

</head>
<body>

    <div class="menu-dashboard">
        
        <div class="top-menu">
            <div class="logo">
                <img src="../img/juegos-olimpicos .png" alt="">
                <span>OLIMPIADAS</span>
            </div>
            <div class="toggle">
                <i class='bx bx-menu'></i>
            </div>
        </div>

        

        <div class="menu">

            <hr class="hr">

            <div class="enlace">
                <i class="bx bx-home"></i>
                <span>Inicio</span>
            </div>
            
            <div class="enlace">
                <i class="bx bx-world"></i>
                <span>Delegaciones</span>
            </div>

            <div class="enlace">
                <i class="bx bx-walk"></i>
                <span>Deportista</span>
            </div>

            <div class="enlace">
                <i class="bx bx-medal"></i>
                <span>Premiaciones</span>
            </div>

            <div class="enlace">
                <i class="bx bx-male"></i>
                <span>Entrenadores</span>
            </div>

            <div class="enlace">
                <i class="bx bx-circle"></i>
                <span>Deportes Olimpicos</span>
            </div>

            <div class="cerrar">
                <i class="bx bx-log-in"></i>
                <span>Cerrar</span>
            </div>

            

        </div>
    </div>
    
</body>
</html>